/* // 3 x 3 grid -> empty at start
// UI -> what the user will use
// HTML + CSS = grid
//  -> LINK CSS AND HTML
//  -> MAKE HTML
//  -> APPLY CSS FOR GRID
// GET GRID SQUARES IN JS
//  -> LINK JS IN HTML
//  -> GET THE SQUARES IN JS // RESEARCH -> how we have done this before?
//  -> LOG TO CONSOLE
// ----------------------- */

.grid {
  display: grid;
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: repeat(3, 200px);
  justify-content: center;

  &__cell {
    background: rgb(236, 162, 162);
    border: 1px solid rgb(255, 255, 255);
  }
}
